<% provide :page_title, 'Home' %>

<div class="container">
  <div class="pt-5 pb-5 border-bottom text-center">
    <h1 class="h1 mb-0">Seja bem-vindo ao Lifepet</h1>
    <h2 class="h4 mt-2 mb-0 text-secondary">Encontre o bichinho que deixará você ainda mais feliz</h2>
  </div>
</div>
